@font-face
{
	font-family: "mainFont";
	src: url(ARDARLING.ttf) format("truetype");
}
@font-face
{
	font-family: "lightFont";
	src: url(Arabic_Typesetting.ttf) format("truetype");
}

h3
{
	font-family: mainFont;
	font-size: 2em;
	margin: 10px 30px 0px 30px;
	font-weight: normal;
	display: block;
	padding-top: 8px;
}

h4
{
	font-family: mainFont;
	font-size: 1.4em;
	margin: 0px 0px 0px 30px;
	font-weight: normal;
	display: block;
}

body
{
	background-color: #F2F2F2;
}

@media screen and (min-width: 808px){ 
	.container
	{
		background-color: #FFFFFF;
		width: 808px;
		margin: auto;
		padding: 0 30px;
	}
	
	div.padding-small
	{
		padding-top: 40px;
	}

	div.padding-big
	{
		padding-top: 100px;
	}
	
	div.panel-padding
	{
		padding-top: 14px;
	}

}

.container
	{
		background-color: #FFFFFF;
		margin: auto;
		padding: 0 30px;
	}

div.main
{
	height: 120px;
}

div.main img
{
	float: right;
	position: relative;
	top: 20;
	right: 30;
}

.container > .row
{	
	opacity: 0.85;
}

.container .experience
{	
	max-height: 650px;
}

.container .experience .row:before
{	
	content: "•";
	opacity: 0.85;
	position: relative;
    top: 22px;
    left: -10px;
}

div.header
{
	font-family: mainFont;
	text-align: center;
	line-height: 60px;
	height: 90px;
}

div.desc
{
	font-family: lightFont;
	font-size: 1.15em;
}

span
{
	display: inline-block;
	min-width: 55px;
}

div.padding
{
	padding-left: 55px;
}

div.progress
{
	display: inline-block;
	width: 180px;
	height: inherit;
	overflow: hidden;
	float: right;
	background-color: white;
}

.progress_wrapper
{
	overflow: hidden;
	display: inline-block;
	width: 180px;
	height: 8px;	
	float: right;
	margin-top: 6px;
	margin-right: 10px;
	background: linear-gradient(to right, #52FA23, #FF2B0A);
	border: 1px solid;
	border-radius: 10px;
}

#download
{
	position: absolute;
	top: 20px;
	right: 30px;
	width: 50px;
	height: 50px;
	background-image: url('../images/Arrow.png');
	background-size: 50px 50px;
	background-repeat: no-repeat;
	cursor: pointer; 
	cursor: hand;
}
